@import './../root.module.scss';

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.4s linear;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.close {
    transform: translateY(-45%) scale(0.1);
    visibility: hidden;
  }
  &.open {
    visibility: visible;
    transform: translateY(0%) scale(1);
  }
  .images-wrapper {
    position: absolute;
    width: 90%;
    height: 90%;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    .images-box {
      padding: 20px;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #eee;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      .images-header {
        display: flex;
        justify-content: space-between;
        .images-title {
          font-weight: bold;
          font-size: 30px;
        }
        .icon {
          cursor: pointer;
          width: 30px;
          height: 30px;
        }
      }
      .images-body {
        flex-grow: 1;
        .images-list {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 15px;
          //pc
          @include responsive("max-width: 1900px") {
            grid-template-columns: repeat(7, 1fr);
          }
          //desktop
          @include responsive("max-width: 1440px") {
            grid-template-columns: repeat(6, 1fr);
          }
          //Ipad horizontal screen 
          @include responsive("max-width: 1280px") {
            grid-template-columns: repeat(5, 1fr);
          }
          //Ipad vertical screen
          @include responsive("max-width: 940px") {
            grid-template-columns: repeat(3, 1fr);
          }
          // mobile
          @include responsive("max-width: 480px") {
            grid-template-columns: repeat(1, 1fr);
          }
          .images-item {
            background: #eee;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            input[type="file"] {
              display: none;
            }
            .choose-file {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              cursor: pointer;
              &::-webkit-file-upload-button {
                display: none;
              }
            }
            img {
              height: 180px;
              width: 100%;
              object-fit: cover;
              background-position: center;
              image-rendering: pixelated; //sharpen image
            }
            .images-text {
              padding: 0 15px 15px;
              display: flex;
              flex-direction: column;
              text-align: left;
              gap: 5px;

              .images-name {
                font-weight: 600;
                font-size: 18px;
                color: #202020;
              }
              .images-editor {
                overflow: hidden;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-style: italic;
                color: #6d6d6d;
              }
            }
            .add-image {
              position: absolute;
              top: 80%;
              left: 50%;
              transform: translate(-50%, -80%);
              cursor: pointer;
            }
            .isCheck {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.3);
              padding: 15px;

              .check {
                background: #fff;
                border-radius: 50%;
                margin-left: auto;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
      .images-footer {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        .cancel-button,
        .update-button {
          width: 100px;
          height: 40px;
          border-radius: 10px;
        }
        .cancel-button {
          background: transparent;
          border: 1px solid #69797e;
        }
        .update-button {
          color: white;
          background: #69797e;
          &:disabled {
            background: #dddddd;
            cursor: no-drop;
          }
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #000;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }
}
